spring:
  datasource:
    url: jdbc:mysql://localhost:3306/portfoliohub_db
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: false
server:
  port: 8081

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET:REPLACE_ME}
      expiration: 86400000
      refresh-token:
        expiration: 604800000
